body {
  margin: 0;
  padding-top: 60px;
}

nav {
  background-color: purple;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
}

.field_with_errors {
  display: inline;
}

.groucho {
  width: 30em;
}












