<h2>Create a new plant</h2>

<form action="/plants" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" placeholder="Milkweed">

  <label for="image">Image:</label>
  <input type="url" id="image" name="image" placeholder="http://something.com/whatever.jpg">

  <button>Create plant</button>
</form>
