<div class="plant">
  <img src="<%= @plant.image %>">

  <h2><%= @plant.name %></h2>

  <section>
    <a href="/plants/<%= @plant.id %>/edit">Edit</a>
    <a href="/plants/<%= @plant.id %>/delete">Delete</a>
  </section>
</div>