<div class="box static">
  static
</div>

<div class="box relative">
  relative
</div>

<div class="box absolute">
  absolute
</div>

<div class="box fixed">
  fixed
</div>

<div class="box overflow-hidden">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, modi. Delectus asperiores modi unde natus voluptas enim aut accusantium nulla voluptatem ducimus possimus sequi, nihil quidem architecto deserunt placeat quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus praesentium mollitia obcaecati dolores cumque vitae nulla amet quasi soluta. Sequi, soluta est id corporis quam quibusdam! Officia animi, quis magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi enim, cumque quia unde distinctio velit amet illum nam voluptate tempora eligendi molestiae. Sed quis repellendus minima velit soluta facere praesentium.
</div>

<div class="box">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, modi. Delectus asperiores modi unde natus voluptas enim aut accusantium nulla voluptatem ducimus possimus sequi, nihil quidem architecto deserunt placeat quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus praesentium mollitia obcaecati dolores cumque vitae nulla amet quasi soluta. Sequi, soluta est id corporis quam quibusdam! Officia animi, quis magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi enim, cumque quia unde distinctio velit amet illum nam voluptate tempora eligendi molestiae. Sed quis repellendus minima velit soluta facere praesentium.
</div>

<div class="box absolute z-index1"></div>
<div class="box absolute z-index2"></div>
<div class="box absolute z-index3"></div>

<div class="box goldfish">
  <a href="http://ga.co/" target="_blank">
    <img src="http://i.imgur.com/zKLK1I0.jpg">
  </a>
</div>







