

<html>
<head>
  <title>World's Crappiest Calculator</title>
  <link rel="stylesheet" href="/calc.css">
</head>
<body>
  <h1>Good Times Calculator</h1>
  <!-- specific view will be inserted here -->
  <%= yield %>
  <h1>COPYRIGHT JOEL SO DON'T STEAL IT YOU JERKS</h1>
</body>
</html>