body {
  background-color: #020;
  color: #0f0;
}

.box {
  min-width: 3em;
  height: 3em;
  display: inline-block;
  border: 1px dashed #0f0;
  text-align: center;
  line-height: 3;
  margin: 0.1em;
}