<section class="forms-example">
  <form>
    <div class="input-group">
      <label for="site_search">Search:</label>
      <input type="search" name="site_search" placeholder="Hotdogs">
    </div>

    <div class="input-group">
      <label for="hotdogs">What style of hotdog?</label>
      <input type="text" name="hotdogs" id="hotdogs" placeholder="Austrian">
    </div>

    <div class="input-group">
      <label for="hotdog_count">How many hotdogs?</label>
      <input type="number" name="hotdog_count" id="hotdog_count" placeholder="75">
    </div>
  </form>
</section>