<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forms Demo</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">

    <nav>
      <h1>
        <a href="/">Forms Demo</a>
      </h1>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">Frequently Asked Questions</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      &copy; 2014 Etc &lambda;
    </footer>
  </div>
</body>
</html>
