<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="js/flot-demo.js"></script>

<div id="placeholder" style="width:600px;height:300px"></div>

<h2>This Week In Hydration</h2>

<div id="hydration-week" style="height:300px"></div>

