<ul>
  <li><a href="/morris">Morris Chart</a></li>
  <li><a href="/flot">Flot Chart</a></li>
  <li><a href="/d3">D3 Demo</a></li>
</ul>

<script>

// jQuery plugin example.

$.fn.greenify = function () {
  this.css('color', 'green');
  return this; // To allow chaining.
};

$('a').greenify();

</script>
