<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Charting Examples</title>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="css/charting.css">
  <link rel="icon" href="favicon.ico">
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>