<h2>About Todor</h2>

<div class="about">

  <div class="hero">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ex in itaque et non dignissimos id aliquam mollitia quod error nostrum soluta autem facilis, similique excepturi, repellendus quas labore dolorem!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ex in itaque et non dignissimos id aliquam mollitia quod error nostrum soluta autem facilis, similique excepturi, repellendus quas labore dolorem!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ex in itaque et non dignissimos id aliquam mollitia quod error nostrum soluta autem facilis, similique excepturi, repellendus quas labore dolorem!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ex in itaque et non dignissimos id aliquam mollitia quod error nostrum soluta autem facilis, similique excepturi, repellendus quas labore dolorem!</p>

</div>
