<h2>No AJAX</h2>
<form action="http://omdbapi.com/">
  <input name="t" placeholder="Movie title">
  <input type="submit" value="Fetch movie">
</form>

<h2>AJAX Version</h2>
<form action="#" id="moviegetter">
  <input placeholder="Movie title" id="movietitle">
  <input type="submit" value="Fetch movie">
</form>

<img id="poster" />

<h1>Shorthands</h1>

<button id="getDemo">.get() demo</button>
<div id="getOutput"></div>

<button id="getJSONDemo">.getJSON() demo</button>
<div id="getJSONOutput"></div>

<button id="loadDemo">.load() demo</button>
<div id="loadOutput"></div>


