@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  background-color: rgb(51,153,51);
  color: white;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

.field {
  float: left; /* FUCK YOU GUYS */
}

.field ul {
  margin-top: 0;
}