<form action="/planets">
  <label>Name:</label>
  <input type="text" name="name" autofocus>
  <label>Image:</label>
  <input type="text" name="image">
  <label>Orbit:</label>
  <input type="text" name="orbit">
  <label>Diameter:</label>
  <input type="text" name="diameter">
  <label>Mass:</label>
  <input type="text" name="mass">
  <label>Moons:</label>
  <input type="text" name="moons">

  <button>Planet me!</button>
</form>
