<p class="notification">
  Please be notified
</p>

<p class="error">
  Please be error
</p>

<p class="success">
  Thank you God
</p>

<div class="post">
  <h2 class="slug">Title here</h2>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ea laborum neque aspernatur possimus nihil, impedit esse autem, nostrum est quo sed sit reiciendis? Sunt officia modi ad maxime, deleniti!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Title here</h2>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ea laborum neque aspernatur possimus nihil, impedit esse autem, nostrum est quo sed sit reiciendis? Sunt officia modi ad maxime, deleniti!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Title here</h2>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ea laborum neque aspernatur possimus nihil, impedit esse autem, nostrum est quo sed sit reiciendis? Sunt officia modi ad maxime, deleniti!</p>
  </div>
</div>

<footer>
  &copy; 2014 Coca-cola
</footer>
