<ul class="butterflies">
  <% @butterflies.each do |butterfly| %>
    <li>
      <a href="/butterflies/<%= butterfly['id'] %>">
        <img src="<%= butterfly['image'] %>">
        <%= butterfly['name'] %>
      </a>
    </li>
  <% end %>
</ul>
