.box {
  width: 3em;
  height: 3em;
  border: 1px solid black;
  display: inline-block;
}

.pixel {
  width: 1em;
  height: 1em;
  border: 1px solid #eee;
  display: inline-block;
  margin-right: 3px;
}