<p>The stock price is <%= number_to_currency(@amount) %></p>

<p>The large number is: <%= number_to_human(@large_number) %></p>

<p>The phone number is <%= number_to_phone(@phone, :area_code => true) %></p>

