<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receipt Generator</title>
</head>
<body>

  <div class="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all">All receipts</a></li>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
