<h1>New Receipt</h1>

<form action="/" method="post">
  <label for="service">Service provided: </label>
  <input type="text" id="service" name="service" placeholder="Lawn edging">

  <label for="cost">Cost $: </label>
  <input type="text" id="cost" name="cost" placeholder="321.98">

  <input type="submit" value="Create receipt">
</form>
