<h1>Stoner Landscape Gardening Pty Ltd</h1>

<ul>
  <li>Company name: <em>Stoner Landscape Gardening Pty Ltd</em></li>
  <li>Good/service provided: <em><%= params['service'] %></em></li>
  <li>Cost: <em><%= params['cost'] %></em></li>
  <li><strong>Thank you for your custom, missing you already</strong></li>
</ul>

