<h1>Welcome</h1>

<img id="bill" src="http://fillmurray.com/500/400" title="A beautiful picture of Bill Murray">

<div>
  <h2>Your lucky numbers</h2>
  <p id="lotto">

  </p>
</div>

<script type="text/template-x-handlebars" id="ballTemplate">
  <span class="ball">
      <b>{{ ball }}</b>
  </span>
</script>
