<!DOCTYPE html>
<html>
<head>
  <title>Railshelpers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/numbers">Numbers</a></li>
    <li><a href="/text">Text</a></li>
    <li><a href="/assets">Assets</a></li>
    <li><a href="/url">URL</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
